{% extends '_main.html' %}

{% block title %}

    <meta charset="UTF-8">
    <title> Registro de usuarios </title>

{% endblock %}

{% block content %}

    <h2 class="row justify-content-md-center"> Iniciar sesión </h2>

    <br><br>

    <div class="row justify-content-md-center">

        <form method="post" action="">
            {% csrf_token %}
            <p>Número de expediente o empleado: <input type="text" name="expediente"></p>
            <p>Contraseña: <input type="password" name="contrasena"></p>

            <p>¿No tienes cuenta? <a href="{% url 'registrarse' %}">Regístrate</a></p>

            <input type="submit" class="btn btn-primary" name="Iniciar Sesion" value="Login">

        </form>

    </div>

    <br><br>
    <div class="row justify-content-md-center">
        {% for message in messages %}
            <p>{{ message }}</p>
        {% endfor %}
    </div>

{% endblock %}
