{% extends '_main.html' %}

{% block title %}

    <meta charset="UTF-8">
    <title> Registro de departamento </title>

{% endblock %}

{% block content %}

    <div class="mx-auto" style="width: 1000px;">

    <h4>División: {{ division }}<br> Departamento de {{ nombre_depto }}</h4>
    <br>

    <form method="post">
        {% csrf_token %}
        <h5>Registro de áreas</h5>
        <p>Nombre: {{ formulario.nombre }}</p>
        <p>Dirección: {{ formulario.direccion }}</p>
        <p>Espacio (m²): {{ formulario.espacio_m2 }}</p>

        <input type="submit" class="btn btn-primary" name="Registrar" value="Registrar">
    </form>
    <br>

    <h5>Áreas registradas</h5>
    <table class="table table table-striped;">
        <tr>
            <td>Area</td>
            <td>Direccion</td>
            <td>Espacio (m²)</td>
            <td>Capacidad</td>
        </tr>

        {% for area in areas %}
            <tr>
                <td>{{ area.nombre }}</td>
                <td>{{ area.direccion }}</td>
                <td>{{ area.espacio_m2 }}</td>
                <td>{{ area.capacidad }}</td>
            </tr>
        {% endfor %}

    </table>

    </div>

{% endblock %}