<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Formato FSI 02</title>
</head>
<body>
    <form action="" method="post">
        {% csrf_token %}
        <p>1. Presento enfermedades crónicas-degenerativas o problemas de salud que afecten al sistema inmunológico: {{ formulario.res1 }}</p>
        <p>2.Estoy embarazada o en período de lactancia: {{ formulario.res2 }}</p>
        <p>3.Tengo o he tenido, durante los últimos 15 días, algún síntoma que pudiera ser indicativo de COVID-19: {{ formulario.res3 }}</p>
        <p>4.Tengo o he tenido, durante los últimos 15 días, contacto directo o indirecto, con alguna persona que haya sido diagnosticada con COVID-19, en mi domicilio o lugar de trabajo: {{ formulario.res4 }}</p>
        <p>5.Utilizaré el transporte público para asistir a las instalaciones de la Universidad: {{ formulario.res5 }}</p>
        <p>6.Me comprometo a seguir las instrucciones de las autoridades sanitarias en el sentido de no asistir a reuniones, eventos, etc y respetar la medida de "Quédate en casa" en mi vida privada: {{ formulario.res6 }}</p>

        <input type="submit" name="Enviar">

    </form>
</body>
</html>