<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <form action="" method="post">
        <div class="pregresp">
            <div class="pregunta1">1. Son síntomas comunes de la enfermedad causada por el virus del SARS-CoV-2: (5 puntos)<br />
            </div>
                <div class="respuestas">
                    <input type="radio" name="preg1" value="1" /> Fiebre, dolor de cabeza y tos seca.<br />
                    <input type="radio" name="preg1" value="2" /> Mareos, dolor de cabeza y oídos.<br />
                    <input type="radio" name="preg1" value="3" /> Tos seca, cansancio y dolor de oídos.<br />
                    <input type="radio" name="preg1" value="4" /> Fiebre, dolor muscular y moretones.<br />
                </div>
                <br>
                <div class="pregunta2">2.El equipo de protección personal que se debe usar EN TODO MOMENTO dentro de los espacios de trabajo es cubrebocas, careta, lentes, guantes y bata. (5 puntos)<br />
                </div>
                    <div class="respuestas">
                        <input type="radio" name="preg2" value="1" /> Cubrebocas y careta.<br />
                        <input type="radio" name="preg2" value="2" /> Cubrebocas y lentes.<br />
                        <input type="radio" name="preg2" value="3" /> Bata y guantes.<br />
                        <input type="radio" name="preg2" value="4" /> Lentes y guantes.<br />
                    </div>
                <br>
                <div class="pregunta3">3.Cada área de trabajo deberá implementar la logística que asegure que no se encuentren más de dos personas en un recinto. ¿De qué dimensiones es este recinto? (5 puntos)<br />
                </div>
                    <div class="respuestas">
                        <input type="radio" name="preg3" value="1" /> 12 metros cuadrados<br />
                        <input type="radio" name="preg3" value="2" /> 9 metros cuadrados<br />
                        <input type="radio" name="preg3" value="3" /> 8 metros cuadrados<br />
                        <input type="radio" name="preg3" value="4" /> 5 metros cuadrados<br />
                    </div>
                <br>
                <div class="pregunta4">4.Para promover la higiene de manos, ¿Qué acción es recomendada llevar a cabo? (5 puntos)<br />
                </div>
                    <div class="respuestas">
                        <input type="radio" name="preg4" value="1" /> Evitar usar el agua por riesgo de contaminación.<br />
                        <input type="radio" name="preg4" value="2" /> Utilizar guantes en todo momento.<br />
                        <input type="radio" name="preg4" value="3" /> Lavarse las manos una vez al día.<br />
                        <input type="radio" name="preg4" value="4" /> Lavarse las manos constantemente o usar de la misma forma el alcohol con gel.<br />
                    </div>
                <br>
                <div class="pregunta5">5.¿Quién se encarga de emitir las autorizaciones de la apertura de áreas de trabajo? (5 puntos)<br />
                </div>
                    <div class="respuestas">
                        <input type="radio" name="preg5" value="1" /> La Comisión de Seguimiento para el regreso a las actividades<br />
                        <input type="radio" name="preg5" value="2" /> Los Usuarios<br />
                        <input type="radio" name="preg5" value="3" /> Los Responsables<br />
                        <input type="radio" name="preg5" value="4" /> La Brigada de Inspección<br />
                    </div>
                <br>
                <div class="pregunta6">6.Si he tenido síntomas indicativos de COVID-19 en los últimos 15 días, ¿puedo solicitar el permiso de ingreso al campus? (5 puntos)<br />
                </div>
                    <div class="respuestas">
                        <input type="radio" name="preg6" value="1" /> Sí<br />
                        <input type="radio" name="preg6" value="2" /> No<br />
                    </div>
                <br>
                <div class="pregunta7">7. En la señalética SEÑ-001-02 para la limpieza y desinfección de área de trabajo. ¿Cuál es la contración de cloro comercial, que se utiliza para preparar la solución deinfectante? (5 puntos)<br />
                </div>
                    <div class="respuestas">
                        <input type="radio" name="preg7" value="1" /> 0.1%<br />
                        <input type="radio" name="preg7" value="2" /> 0.5%<br />
                        <input type="radio" name="preg7" value="3" /> 4-5%<br />
                        <input type="radio" name="preg7" value="4" /> 3-4%<br />
                    </div>
                <br>
                <div class="pregunta8">8.¿Cuál de las siguientes declaraciones NO se encuentra en el formato FSI-02 para solicitar acceso a la Universidad por parte de los Usuarios? (5 puntos)<br />
                </div>
                    <div class="respuestas">
                        <input type="radio" name="preg8" value="1" /> No he viajado a zonas gravemente afectadas por COVID-19 o zonas en semáforo rojo en los últimos 15 días<br />
                        <input type="radio" name="preg8" value="2" /> No tengo ni he tenido contacto directo o indirecto, durante los últimos 15 días con alguna persona que haya sido diagnosticada con COVID-19, ni en mi domicilio ni en mi lugar de trabajo.<br />
                        <input type="radio" name="preg8" value="3" /> Me comprometo a atender el llamado de la Comisión de Seguimiento para realizarme la toma de muestra para el diagnóstico COVID-19, en caso de salir sorteado dentro del 5% de personal activo en el campus.<br />
                        <input type="radio" name="preg8" value="4" /> Me comprometo a no emplear el transporte público para trasladarme a las instalaciones universitarias.<br />
                    </div>
                <br>
                <div class="pregunta9">9. Ordena correctamente los pasos a seguir en caso de presentar síntomas que hagan sospechar de COVID-19 durante su jornada de trabajo: (5 puntos)<br />
                </div>
                    <div class="respuestas">
                        Si presenta dificultad para respirar se deberá remitir al centro de atención médica más cercano
                        <select>
                            <option selected = "selected">1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                        </select>
                        <br>
                        Retírese a su hogar y comuníquese vía telefónica al número de teléfono 911
                        <select>
                            <option>1</option>
                            <option selected = "selected">2</option>
                            <option>3</option>
                            <option>4</option>
                        </select>
                        <br>
                        Presentar valoración médica favorable ante el responsable para la gestión de reingreso a las instalaciones de la Universidad de Sonora.
                        <select>
                            <option>1</option>
                            <option>2</option>
                            <option selected = "selected">3</option>
                            <option>4</option>
                        </select>
                        <br>
                        Notifique al responsable de su área de trabajo. A su vez, el responsable notificará a la Comisión de Seguimiento.
                        <select>
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option selected = "selected">4</option>
                        </select>
                        <br>
                    </div>
                <br>
                <div class="pregunta10">10. ¿Cuál es la distancia mínima recomendada que se debe tener entre personas para evitar el contagio de nuevo coronavirus que establece nuestro lineamiento Universitario? (5 puntos)<br />
                </div>
                    <div class="respuestas">
                        <input type="radio" name="preg10" value="1" /> 1.50 metros<br />
                        <input type="radio" name="preg10" value="2" /> 1.80 metros<br />
                        <input type="radio" name="preg10" value="3" /> 1.20 metros<br />
                        <input type="radio" name="preg10" value="4" /> 0.50 metros<br />
                    </div>
                <br>
                <div class="pregunta11">11. ¿Quiénes son los encargados directos de la implementación de los lineamientos para el regreso a las actividades en la Universidad? (5 puntos)<br />
                </div>
                    <div class="respuestas">
                        <input type="radio" name="preg11" value="1" /> Los Responsables<br />
                        <input type="radio" name="preg11" value="2" /> Los Usuarios<br />
                        <input type="radio" name="preg11" value="3" /> La Comisión de Seguimiento para el regreso a las actividades<br />
                        <input type="radio" name="preg11" value="4" /> La Brigada de Inspección<br />
                    </div>
                <br>
                <div class="pregunta12">12. ¿Quiénes son los encargados directos de la implementación de los lineamientos para el regreso a las actividades en la Universidad? (5 puntos)<br />
                </div>
                    <div class="respuestas">
                        <input type="radio" name="preg12" value="1" /> Los Responsables<br />
                        <input type="radio" name="preg12" value="2" /> Los Usuarios<br />
                        <input type="radio" name="preg12" value="3" /> La Comisión de Seguimiento para el regreso a las actividades<br />
                        <input type="radio" name="preg12" value="4" /> La Brigada de Inspección<br />
                    </div>
                <br>
                <div class="pregunta">13. ¿Cuál es el primer paso a seguir para los Responsables que solicitan la reapertura y acceso de áreas dentro del campus? (5 puntos)<br />
                </div>
                    <div class="respuestas">
                        <input type="radio" name="preg13" value="1" /> Corroborar que el personal tome los cursos de capacitación y llevar el control de esta capacitación por medio de las constacias de acreditación.<br />
                        <input type="radio" name="preg13" value="2" /> Establecer protocolo de limpieza de equipos y espacios al inicio y final de cada jornada.<br />
                        <input type="radio" name="preg13" value="3" /> Identificar el personal que debe retornar con base a la priorización de actividades, excluyendo personal que se encuentre dentro de los grupos de riesgo.<br />
                        <input type="radio" name="preg13" value="4" /> Poner a disposición de los usuarios material y sustancias para limpieza y desinfección<br />
                    </div>
                <br>
                <div class="pregunta14">14. ¿Como medida de control para evitar contagios en el campus, los lineamientos establecen que ¿todos los usuarios deben ingresar por el filtro de control sanitario? (5 puntos)<br />
                </div>
                    <div class="respuestas">
                        <input type="radio" name="preg14" value="1" /> Falso<br />
                        <input type="radio" name="preg14" value="2" /> Verdadero<br />
                    </div>
                <br>
                <div class="pregunta15">15. Si fuera necesario el intercambio de papelería, ¿se debe asignar una charola para depositar la papelería, y limpiar las manos después de tocar la misma? (5 puntos)<br />
                </div>
                    <div class="respuestas">
                        <input type="radio" name="preg15" value="1" /> Falso<br />
                        <input type="radio" name="preg15" value="2" /> Verdadero<br />
                    </div>
                <br>
                <div class="pregunta16">16. La solución sanitizante recomendada para la limpieza y desinfección de instrumentos, equipos y dispositivos electrónicos como teclados, impresoras y teléfonos, ¿es el alcohol al 70%? (5 puntos)<br />
                </div>
                    <div class="respuestas">
                        <input type="radio" name="preg16" value="1" /> Falso<br />
                        <input type="radio" name="preg16" value="2" /> Verdadero<br />
                    </div>
                <br>
                <div class="pregunta17">17. ¿Qué etapa del semáforo epidemiológico dicta que “Todas las actividades laborales están permitidas, cuidando a las personas con mayor riesgo de presentar un cuadro grave de COVID-19, el espacio público abierto se abre de forma regular y los espacios públicos cerrados se pueden abrir con aforo reducido”? (5 puntos)<br />
                </div>
                    <div class="respuestas">
                        <input type="radio" name="preg17" value="1" /> Verde<br />
                        <input type="radio" name="preg17" value="2" /> Amarillo<br />
                        <input type="radio" name="preg17" value="3" /> Rojo<br />
                        <input type="radio" name="preg17" value="4" /> Naranja<br />
                    </div>
                <br>
                <div class="pregunta18">18. ¿Quién es el encargado de llevar el monitoreo y control del cumplimiento de los lineamientos? (5 puntos)<br />
                </div>
                    <div class="respuestas">
                        <input type="radio" name="preg18" value="1" /> Los Usuarios<br />
                        <input type="radio" name="preg18" value="2" /> La Comisión de Seguimiento para el regreso a las actividades<br />
                        <input type="radio" name="preg18" value="3" /> La Brigada de Inspección<br />
                        <input type="radio" name="preg18" value="4" /> Los Responsables<br />
                    </div>
                <br>
                <div class="pregunta19">19. ¿Los Responsables deben elaborar un procedimiento de limpieza de equipos e instrumentación de laboratorios/áreas administrativas? (5 puntos)<br />
                </div>
                    <div class="respuestas">
                        <input type="radio" name="preg19" value="1" /> Falso<br />
                        <input type="radio" name="preg19" value="2" /> Verdadero<br />
                    </div>
                <br>
                <div class="pregunta20">20. ¿Puede la Comisión de Seguimiento para el Regreso a las Actividades de Investigación y Administrativas revocar el acceso al campus a los Usuarios que incumplan con los lineamientos para el regreso a las actividades en la Universidad de Sonora? (5 puntos)<br />
                </div>
                    <div class="respuestas">
                        <input type="radio" name="preg20" value="1" /> Sí<br />
                        <input type="radio" name="preg20" value="2" /> No<br />
                    </div>
            </div>
            <input type="submit" name="Enviar">
        </form>
</body>
</html>