<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <form action="" method="post">
        {% csrf_token %}
        <p>1. Son síntomas comunes de la enfermedad causada por el virus del SARS-CoV-2: (5 puntos)</p>
        <div>{{ formulario.res1 }}</div>

        <p>2.El equipo de protección personal que se debe usar EN TODO MOMENTO dentro de los espacios de trabajo es cubrebocas, careta, lentes, guantes y bata. (5 puntos)</p>
        <div>{{ formulario.res2 }}</div>

        <p>3.Cada área de trabajo deberá implementar la logística que asegure que no se encuentren más de dos personas en un recinto. ¿De qué dimensiones es este recinto? (5 puntos)</p>
        <div>{{ formulario.res3 }}</div>

        <p>4.Para promover la higiene de manos, ¿qué acción es recomendada llevar a cabo? (5 puntos)</p>
        <div>{{ formulario.res4 }}</div>

        <p>5.¿Quién se encarga de emitir las autorizaciones de la apertura de áreas de trabajo? (5 puntos)</p>
        <div>{{ formulario.res5 }}</div>

        <p>6.Si he tenido síntomas indicativos de COVID-19 en los últimos 15 días, ¿puedo solicitar el permiso de ingreso al campus? (5 puntos)</p>
        <div>{{ formulario.res6 }}</div>

        <p>7. En la señalética SEÑ-001-02 para la limpieza y desinfección de área de trabajo. ¿Cuál es la contración de cloro comercial, que se utiliza para preparar la solución deinfectante? (5 puntos)</p>
        <div>{{ formulario.res7 }}</div>

        <p>8.¿Cuál de las siguientes declaraciones NO se encuentra en el formato FSI-02 para solicitar acceso a la Universidad por parte de los Usuarios? (5 puntos)</p>
        <div>{{ formulario.res8 }}</div>

        <p>9. Ordena correctamente los pasos a seguir en caso de presentar síntomas que hagan sospechar de COVID-19 durante su jornada de trabajo: (5 puntos)</p>
        <div><p>Si presenta dificultad para respirar se deberá remitir al centro de atención médica más cercano.</p>{{ formulario.res9_1 }}</div>
        <div><p>Retírese a su hogar y comuníquese vía telefónica al número de teléfono 911</p>{{ formulario.res9_2 }}</div>
        <div><p>Presentar valoración médica favorable ante el responsable para la gestión de reingreso a las instalaciones de la Universidad de Sonora.</p>{{ formulario.res9_3 }}</div>
        <div><p> Notifique al responsable de su área de trabajo. A su vez, el responsable notificará a la Comisión de Seguimiento.</p>{{ formulario.res9_4 }}</div>

        <p>10. ¿Cuál es la distancia mínima recomendada que se debe tener entre personas para evitar el contagio de nuevo coronavirus que establece nuestro lineamiento Universitario? (5 puntos)</p>
        <div>{{ formulario.res10 }}</div>

        <p>11. ¿Quiénes son los encargados directos de la implementación de los lineamientos para el regreso a las actividades en la Universidad? (5 puntos)</p>
        <div>{{ formulario.res11 }}</div>

        <p>12. ¿Quiénes son los encargados directos de la implementación de los lineamientos para el regreso a las actividades en la Universidad? (5 puntos)</p>
        <div>{{ formulario.res12 }}</div>

        <p>13. ¿Cuál es el primer paso a seguir para los Responsables que solicitan la reapertura y acceso de áreas dentro del campus? (5 puntos)</p>
        <div>{{ formulario.res13 }}</div>

        <p>14. ¿Como medida de control para evitar contagios en el campus, los lineamientos establecen que ¿todos los usuarios deben ingresar por el filtro de control sanitario? (5 puntos)</p>
        <div>{{ formulario.res14 }}</div>

        <p>15. Si fuera necesario el intercambio de papelería, ¿se debe asignar una charola para depositar la papelería, y limpiar las manos después de tocar la misma? (5 puntos)</p>
        <div>{{ formulario.res15 }}</div>

        <p>16. La solución sanitizante recomendada para la limpieza y desinfección de instrumentos, equipos y dispositivos electrónicos como teclados, impresoras y teléfonos, ¿es el alcohol al 70%? (5 puntos)</p>
        <div>{{ formulario.res16 }}</div>

        <p>17. ¿Qué etapa del semáforo epidemiológico dicta que “Todas las actividades laborales están permitidas, cuidando a las personas con mayor riesgo de presentar un cuadro grave de COVID-19, el espacio público abierto se abre de forma regular y los espacios públicos cerrados se pueden abrir con aforo reducido”? (5 puntos)</p>
        <div>{{ formulario.res17 }}</div>

        <p>18. ¿Quién es el encargado de llevar el monitoreo y control del cumplimiento de los lineamientos? (5 puntos)</p>
        <div>{{ formulario.res18 }}</div>

        <p>19. ¿Los Responsables deben elaborar un procedimiento de limpieza de equipos e instrumentación de laboratorios/áreas administrativas? (5 puntos)</p>
        <div>{{ formulario.res19 }}</div>

        <p>20. ¿Puede la Comisión de Seguimiento para el Regreso a las Actividades de Investigación y Administrativas revocar el acceso al campus a los Usuarios que incumplan con los lineamientos para el regreso a las actividades en la Universidad de Sonora? (5 puntos)</p>
        <div>{{ formulario.res20 }}</div>

        <input type="submit" name="Enviar">
        </form>
</body>
</html>