{% extends '_main.html' %}

{% block title %}

    <meta charset="UTF-8">
    <title> Seguimiento </title>

{% endblock %}

{% block content %}

    <h4 class="mx-auto" style="width: 1000px;">Divisiones</h4>
    <ul class="list-group list-group-flush; mx-auto" style="width: 1000px;">
        {% for division in divisiones %}
            <li class="list-group-item"><a href="{% url 'divisiones' division.id %}">{{ division }}</a></li>
        {% endfor %}
    </ul>
    <br><br>

    <br><h4 class="mx-auto" style="width: 1000px;">Solicitudes de apertura de apartamentos</h4>
    <table class="table table table-striped; mx-auto" style="width: 1000px;">
      <thead>
        <tr>
          <th scope="col">División</th>
          <th scope="col">Departamento</th>
          <th scope="col">Solicitante</th>
          <th scope="col">Acciones</th>
        </tr>
      </thead>

      <tbody>
            <tr>
                {% for solic_jefatura in solic_jefaturas %}
                    <tr>
                        <td>{{ solic_jefatura.division }}</td>
                        <td>{{ solic_jefatura.nombre_depto }}</td>
                        <td>{{ solic_jefatura.jefe }}</td>

                        <td><a href="{% url 'aceptar-jefatura' solic_jefatura.id %}">Aprobar</a></td>
                    </tr>
                {% endfor %}
            </tr>
      </tbody>
    </table>
    <br><br>


    <br><h4 class="mx-auto" style="width: 1000px;">Solicitudes de apertura de áreas de trabajo</h4>
    <table class="table table table-striped; mx-auto" style="width: 1000px;">
      <thead>
        <tr>
          <th scope="col">División</th>
          <th scope="col">Área</th>
          <th scope="col">Dirección</th>
          <th scope="col">Solicitante</th>
          <th scope="col">Acciones</th>
        </tr>
      </thead>

      <tbody>
            <tr>
                {% for solic_apertura in solic_aperturas %}
                <tr>
                    <td>{{ solic_apertura.area_solici.departamento.division }}</td>
                    <td>{{ solic_apertura.area_solici }}</td>
                    <td>{{ solic_apertura.area_solici.direccion }}</td>
                    <td>{{ solic_apertura.responsable }}</td>

                    <td><a href="{% url 'aceptar-apertura' solic_apertura.id %}">Aprobar</a></td>
                </tr>
                {% endfor %}
            </tr>
      </tbody>
    </table>
    <br><br>

    <br><h4 class="mx-auto" style="width: 1000px;">Reportes de salubridad</h4>
    <table class="table table table-striped; mx-auto" style="width: 1000px;">
      <thead>
        <tr>
          <th scope="col">Área</th>
          <th scope="col">Inspector</th>
          <th scope="col">Puntos de riesgo</th>
          <th scope="col">Comentarios</th>
          <th scope="col">Acciones</th>
        </tr>
      </thead>

      <tbody>
            <tr>
              {% for inspeccion in inspecciones %}
                <tr>
                    <td>{{ inspeccion.area_revisada }}</td>
                    <td>{{ inspeccion.brigadista.username }}</td>
                    <td>{{ inspeccion.riesgo }}</td>
                    <td>{{ inspeccion.comentarios }}</td>
                    {% if inspeccion.area_revisada.autorizada %}
                        <td><a href="{% url 'clausurar-area' inspeccion.area_revisada.id %}">Clausurar</a></td>
                    {% endif %}
                </tr>

            {% endfor %}
            </tr>
      </tbody>
    </table>
    <br><br>

{% endblock %}