<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <table>
        <h2>Solicitudes de apertura de departamentos</h2>
        <tr>
            <td>División</td>
            <td>Departamento</td>
            <td>Solicitante</td>
            <td>Acciones</td>
        </tr>
        {% for solic_jefatura in solic_jefaturas %}
            <tr>
                <td>{{ solic_jefatura.division }}</td>
                <td>{{ solic_jefatura.nombre_depto }}</td>
                <td>{{ solic_jefatura.jefe }}</td>

                <td><a href="{% url 'aceptar-jefatura' solic_jefatura.id %}">Aprobar</a></td>
            </tr>
        {% endfor %}

    </table>

    <table>
        <h2>Solicitudes de apertura de áreas de trabajo</h2>
        <tr>
            <td>División</td>
            <td>Área</td>
            <td>Dirección</td>
            <td>Solicitante</td>
            <td>Acciones</td>
        </tr>
        {% for solic_apertura in solic_aperturas %}
            <tr>
                <td>{{ solic_apertura.area_solici.departamento.division }}</td>
                <td>{{ solic_apertura.area_solici }}</td>
                <td>{{ solic_apertura.area_solici.direccion }}</td>
                <td>{{ solic_apertura.responsable }}</td>

                <td><a href="{% url 'aceptar-apertura' solic_apertura.id %}">Aprobar</a></td>
            </tr>
        {% endfor %}
    </table>

</body>
</html>