{% extends '_main.html' %}

{% block title %}

    <meta charset="UTF-8">
    <title> Solicitar acceso </title>

{% endblock %}

{% block content %}

    <div class="mx-auto" style="width: 1000px;">

        <form method="post" action="">
            {% csrf_token %}
            {% if request.user.usuariobase.rol == 'JD' %}
                <h2>Registro de jefe de departamento</h2>
                <p>División: {{ formulario.division }}</p>
                <p>Nombre de departamento: {{ formulario.nombre_depto }}</p>

            {% elif request.user.usuariobase.rol == 'RA' %}
                <h2>Solicitud de apertura de área</h2>
                <p>Area solicitada: {{ formulario.area_solici }}</p>

            {% elif request.user.usuariobase.rol == 'IN' or request.user.usuariobase.rol == 'AL' or request.user.usuariobase.rol == 'EM' %}
                <h2>Solicitud de acceso a un área</h2>
                <p>Area solicitada: {{ formulario.area_solici }}</p>


            {% else %}
                <p>Seleccione su tipo de usuario: {{ formulario.rol }}</p>

            {% endif %}

            <input type="submit" class="btn btn-primary" name="Solicitar" value="Solicitar">
        </form>

    </div>

{% endblock %}
